{% extends "przychodnia/base.html" %}

{% block title %}Twoje wizyty{% endblock %}

{% block content %}
<h2>Twoje wizyty:</h2>
{% if wizyty %}
<table border="1">
    <tr>
        <th>Termin</th>
        <th>Dane zwierzaka</th>
        <th>Weterynarz</th>
        <th>Status</th>
    </tr>
    {% for wizyta in wizyty %}
    <tr>
        <td>
            <a href="{% url 'wizyta-detail' pk=wizyta.pk %}">
                {{ wizyta.data_wizyty|date:"d.m.Y" }} {{ wizyta.godzina_wizyty|time:"H:i" }}
            </a>
        </td>
        <td>{{ wizyta.zwierze.imie }} ({{ wizyta.zwierze.get_gatunek_display }})</td>
        <td>{{ wizyta.weterynarz.imie }} {{ wizyta.weterynarz.nazwisko }}</td>
        <td>
            <span class="
                {% if wizyta.status == 1 %}status-1
                {% elif wizyta.status == 2 %}status-2
                {% elif wizyta.status == 3 %}status-3
                {% endif %}
            ">
            {{ wizyta.get_status_display }}
            </span>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>Nie masz zaplanowanych wizyt.</p>
{% endif %}

<p style="margin-top: 20px;">
    <a href="{% url 'dodaj-wizyte' %}" style="padding: 8px 12px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 4px;">
        Dodaj nową wizytę
    </a>
</p>

{% endblock %}