{% extends "przychodnia/base.html" %}

{% block title %}Lista zwierząt{% endblock %}

{% block content %}
{% if user.weterynarz %}<h2>Lista zwierząt:</h2>{% endif %}
{% if user.opiekun %}<h2>Twoje zwierzęta:</h2>{% endif %}
{% if zwierzeta %}
<table border="1">
    <tr>
        <th>Imię</th>
        <th>Gatunek</th>
        <th>Płeć</th>
        {% if user.weterynarz %}<th>Opiekun</th>{% endif %}
        <th>Akcje</th>
    </tr>
    {% for zwierze in zwierzeta %}
    <tr>
        <td>{{ zwierze.imie }}</td>
        <td>{{ zwierze.get_gatunek_display }}</td>
        <td>{{ zwierze.get_plec_display }}</td>
        {% if user.weterynarz %}<td>{{ zwierze.opiekun.imie }} {{ zwierze.opiekun.nazwisko }}</td>{% endif %}
        <td>
            <a href="{% url 'zwierze-detail' pk=zwierze.pk %}">Szczegóły</a>
        </td>
    </tr>    
    {% endfor %}
</table>
{% else %}
    <p>Brak zwierząt w systemie.</p>
{% endif %}

{% if user.opiekun %}
<form method="get" action="{% url 'dodaj-zwierze' %}">
    <button type="submit"
            style="background-color: #4CAF50; color: white; padding: 6px 12px; text-decoration: none; margin-top: 10px;">
        Dodaj nowego zwierzaka
    </button>
</form>
{% endif %}

{% endblock %}