{% extends "przychodnia/base.html" %}

{% block title %}Twoje wizyty{% endblock %}

{% block content %}
<h2>Twoje wizyty:</h2>
{% if wizyty %}
<table border="1">
    <tr>
        <th>Data wizyty</th>
        <th>Godzina</th>
        <th>Dane pacjenta</th>
        {% if user.weterynarz %}<th>Opiekun</th>{% endif %}
        {% if user.opiekun %}<th>Weterynarz</th>{% endif %}
        <th>Status</th>
    </tr>
    {% for wizyta in wizyty %}
    <tr>
        <td>
            <a href="{% url 'wizyta-detail' pk=wizyta.pk %}">
                {{ wizyta.data_wizyty|date:"d.m.Y" }}
            </a>
        </td>
        <td>{{ wizyta.godzina_wizyty|time:"H:i" }}</td>
        <td>
            <a href="{% url 'zwierze-detail' pk=wizyta.zwierze.pk %}">
                {{ wizyta.zwierze.imie }} {{ wizyta.zwierze.opiekun.nazwisko }} ({{ wizyta.zwierze.get_gatunek_display }})
            </a>
        </td>
        {% if user.weterynarz %}<td>{{ wizyta.zwierze.opiekun.imie }} {{ wizyta.zwierze.opiekun.nazwisko }}</td>{% endif %}
        {% if user.opiekun %}<td>{{ wizyta.weterynarz.imie }} {{ wizyta.weterynarz.nazwisko }}</td>{% endif %}
        <td>
            <span class="
                {% if wizyta.status == 1 %}status-1
                {% elif wizyta.status == 2 %}status-2
                {% elif wizyta.status == 3 %}status-3
                {% endif %}
            ">
            {{ wizyta.get_status_display }}
            </span>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>Brak przypisanych wizyt.</p>
{% endif %}

{% if user.opiekun %}
<p style="margin-top: 20px;">
    <a href="{% url 'dodaj-wizyte' %}" style="padding: 8px 12px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 4px;">
        Dodaj nową wizytę
    </a>
</p>
{% endif %}

{% endblock %}