{% extends "przychodnia/base.html" %}

{% block title %}Szczegóły wizyty{% endblock %}

{% block content %}
<h2>Szczegóły wizyty:</h2>
{% if wizyta.zwierze %}
    <p><strong>Pacjent:</strong> <a href="{% url 'zwierze-detail' pk=wizyta.zwierze.pk %}">
            {{ wizyta.zwierze.imie }}</a></p>

    {% if user.weterynarz %}<p><strong>Opiekun:</strong> {{ wizyta.zwierze.opiekun }}</p>{% endif %}

{% else %}
<p><strong>Pacjent:</strong> <span style="color: gray;">[Usunięte zwierzę]</span></p>
{% endif %}

<p><strong>Data:</strong> {{ wizyta.data_wizyty|date:"d.m.Y" }}</p>
<p><strong>Godzina:</strong> {{ wizyta.godzina_wizyty|time:"H:i" }}</p>

{% if user.opiekun %}<p><strong>Weterynarz:</strong> {{ wizyta.weterynarz }} </p>{% endif %}

<p><strong>Status:</strong> 
    <span class="
        {% if wizyta.status == 1 %}status-1
        {% elif wizyta.status == 2 %}status-2
        {% elif wizyta.status == 3 %}status-3
        {% endif %}
    ">
    {{ wizyta.get_status_display }}
    </span>
</p>

{% if wizyta.status == 2 %}
<p><strong>Notatka:</strong> {{ wizyta.notatka }}</p>
{% endif %}

{% if wizyta.zwierze and wizyta.weterynarz == user.weterynarz and wizyta.status == 1 %}
    <form method="get" action="{% url 'zrealizuj-wizyte' pk=wizyta.pk %}">
        <button type="submit"
            style="background-color: green; color: white; padding: 6px 12px;">
            Przejdź do realizacji wizyty
        </button>
    </form>
{% endif %}

{% if wizyta.zwierze and wizyta.zwierze.opiekun == user.opiekun and wizyta.status == 1 %}
    <form method="get" action="{% url 'przeloz-wizyte' pk=wizyta.pk %}" style="display: inline;">
        <button type="submit"
                style="background-color: orange; color: white; padding: 6px 12px;">
            Przełóż wizytę
        </button>
    </form>
    
    <form method="get" action="{% url 'odwolaj-wizyte' pk=wizyta.pk %}" style="display: inline; margin-left: 5px;">
        <button type="submit"
                style="background-color: red; color: white; padding: 6px 12px;">
            Odwołaj wizytę
        </button>
    </form>
{% endif %}

<hr>
{% if user.opiekun %}
<a href="{% url 'przyszle-wizyty' %}" style="padding: 6px 12px;">
    Powrót do listy wizyt
</a>
{% endif %}

{% if user.weterynarz %}
<a href="{% url 'dzisiejsze-wizyty' %}" style="padding: 6px 12px;">
    Powrót do dzisiejszych wizyt
</a>
{% endif %}

{% endblock %}