{% extends "przychodnia/base.html" %}

{% block title %}Szczegóły wizyty{% endblock %}

{% block content %}
<h2>Szczegóły wizyty:</h2>
<p><strong>Termin:</strong> {{ wizyta.data_wizyty|date:"d.m.Y" }} {{ wizyta.godzina_wizyty|time:"H:i" }}</p>
<p><strong>Pacjent:</strong> {{ wizyta.zwierze.imie }}</p>

{% if user.weterynarz %}
<p><strong>Opiekun:</strong> {{ wizyta.zwierze.opiekun }}</p>
{% endif %}

{% if user.opiekun %}
<p><strong>Weterynarz:</strong> {{ wizyta.weterynarz }} </p>
{% endif %}

<p><strong>Status:</strong> {{ wizyta.get_status_display }}</p>
<p><strong>Notatka:</strong> {{ wizyta.notatka }}</p>

{% if wizyta.weterynarz == user.weterynarz and wizyta.status == 1 %}
    <form method="get" action="{% url 'zrealizuj-wizyte' pk=wizyta.pk %}">
        <button type="submit"
            style="background-color: green; color: white; padding: 6px 12px;">
            Przejdź do realizacji wizyty
        </button>
    </form>
{% endif %}

{% if wizyta.zwierze.opiekun == user.opiekun and wizyta.status == 1 %}
    <form method="get" action="{% url 'odwolaj-wizyte' pk=wizyta.pk %}">
        <button type="submit"
                style="background-color: red; color: white; padding: 6px 12px;">
            Odwołaj wizytę
        </button>
    </form>
{% endif %}

<hr>
<a href="{% url 'lista-wizyt' %}" style="padding: 6px 12px;">
    Powrót do listy wizyt
</a>
{% endblock %}