{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/przychodnia.css" %}" rel="stylesheet">
        <style>
            .status-1 { color: green; font-weight: bold; }
            .status-2 { color: gray; font-weight: bold; }
            .status-3 { color: red; font-weight: bold; }
        </style>
    </head>
    <body>
        <div id="header" >
            Przychodnia weterynaryjna
            {% if user.is_authenticated %}
                <a href="{% url 'user-logout' %}">Wyloguj</a>
            {% else %}
                <a href="{% url 'user-login' %}">Zaloguj</a>
            {% endif %}
        </div>
        <hr/>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>