{% extends "przychodnia/base.html" %}

{% block title %}Szczegóły wizyty{% endblock %}

{% block content %}
<h2>Szczegóły wizyty:</h2>
<p><strong>Termin:</strong> {{ wizyta.data_wizyty|date:"d.m.Y" }} {{ wizyta.godzina_wizyty|time:"H:i" }}</p>
<p><strong>Zwierzę:</strong> {{ wizyta.zwierze.imie }}</p>

{% if not request.user.opiekun %}
<p><strong>Opiekun:</strong> {{ wizyta.zwierze.opiekun }}</p>
{% endif %}

{% if not request.user.weterynarz %}
<p><strong>Weterynarz:</strong> {{ wizyta.weterynarz }} </p>
{% endif %}

<p><strong>Status:</strong> {{ wizyta.get_status_display }}</p>
<p><strong>Notatka:</strong> {{ wizyta.notatka }}</p>
{% if user.opiekun and wizyta.status == 1 %}
    <hr>
    <form action="{% url 'odwolaj-wizyte' pk=wizyta.pk %}" method="get">
        <button type="submit"
                style="background-color: red; color: white; padding: 6px 12px;">
            Odwołaj wizytę
        </button>
    </form>
{% endif %}
{% endblock %}